<h2>Here's the apartment:</h2>

<h3>Apartment Address: <%= @apartment.address %></h3>

<ul>
    <%@apartment.tenants.each do |tenant|%>
    <a href="/tenants/<%= tenant.id %>">
        <li><%= tenant.name %></li>
    </a>
    <% end %>
</ul>

<form method='post' action='/apartments/<%= @apartment.id %>'>
<input type='hidden' name='_method' value="delete">
    <input type="submit" value="Delete Apartment">
</form>

<h4><a href='/apartments'>Go Back</a></h4>